[Unit]
Description=Install Flatpak applications
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/5-install-flatpaks.sh

[Install]
WantedBy=graphical-session.target
